<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our Team</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<div class="wrapper">
  <h1>Our Team</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="/crop1.png" alt="Team_image">
      </div>
      <h3>Maymuna Rukaiya</h3>
      <p class="role">Front End</p>
      <p>Undergraduate student of BRAC University. Senior Executive of BRAC University Computer Club. Currently learning front end web development.</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="/crop2.png" alt="Team_image" sizes="original">
      </div>
      <h3>Md Ashikul Islam</h3>
      <p class="role">Backend</p>
      <p>Undergraduate student of BRAC University. Senior Executive of BRAC University Computer Club. Currently learning Back end web development.</p>
    </div>
  </div>
</div>

</body>
</html>